<h3>Candidates to review</h3>

<div class="alerts" ng-class="positions.getActive().val">
  <alert ng-repeat="alert in alerts.data" type="alert.type" close="closeAlert($index)">{{alert.message}}</alert>
</div>

<div ng-show="candidates.length==0">
  <p>All candidates have been reviewed!</p>
  <p>You can refresh the page to check for more.</p>
</div>

<div ng-show="candidates.length>0" class="summary">{{candidates.length}} candidates</div>
<table ng-show="candidates.length>0" class="table table-striped">
  <thead>
    <tr>
      <th>Candidate</th>
      <th></th>
      <th colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="c in candidates" ng-class-odd="'tr-odd'" ng-class-even="'tr-even'">
      <td>
        <a ng-href="{{c.profileUrl}}" target="_blank">{{c.fullname}}</a>
      </td>
      <td style="width: 20px;">
        <img ng-show="c.processing" src="http://img.cdn.tl/loading1.gif" />
      </td>
      <td>
        <button class="btn btn-success btn-small" ng-click="process($index, 1)" ng-disabled="c.processing">Approve</button>
      </td>
      <td>
        <button class="btn btn-danger btn-small" ng-click="process($index, -1)" ng-disabled="c.processing">Decline</button>
      </td>
    </tr>
  </tbody>
</table>
<div ng-show="candidates.length>0" class="summary">{{candidates.length}} Candidates</div>
