<button class="btn btn-primary">Candidates to review</button>
<div class="search controls">
  <div class="input-append">
    <input type="text" class="input-small" placeholder="Search"> <span class="add-on"><i class="icon-search"></i></span>
  </div>
</div>
<div class="filter">
  <span>School</span>
  <select>
    <option></option>
  </select>
</div>
<div class="filter">
  <span>Position</span>
  <select ng-model="position">
    <option></option>
    <option ng-repeat="p in positions">{{p.name}}</option>
  </select>
  <i class="icon-remove" ng-hide="!position" ng-click="position=undefined"></i>
</div>
<div class="filter">
  <span>Subject</span>
  <select>
    <option></option>
  </select>
</div>
