<h3 style="float: left; ">Job overview</h3>

<div style="float: right; margin-top: 12px; " ng-init="cumulative=true" class="summary">
  <span>Display type: </span>
  <button class="btn btn-small" ng-click="cumulative=true" ng-class="{'btn-success':cumulative==true}">
    <span simple-tooltip="Show implied historical application statuses">Cumulative</span>
  </button>
  <button class="btn btn-small" ng-click="cumulative=false" ng-class="{'btn-success':cumulative==false}">
    <span simple-tooltip="Show current application statuses only">Current</span>
  </button>
</div>

<div class="alerts" ng-class="roles.getActive().val">
  <alert ng-repeat="alert in alerts.data" type="alert.type" close="alerts.removeByIndex($index)">{{alert.message}}</alert>
</div>

<div class="entity-info" style="clear: both; margin: 0 0 20px 0" ng-show="!!job">
  <div>
    <span class="title">School, Country</span><b>{{job.schoolName}}</b>, {{job.country}}
  </div>
  <div>
    <span class="title">Subject, Role</span><b>{{job.subject}}</b>, {{job.role}}
  </div>
</div>

<div ng-show="applications.length==0">
  <p>No applications have yet been put forward for this job.</p>
</div>

<div style="clear: both; " ng-show="applications.length>0" class="summary">{{applications.length}} candidates</div>
<table ng-show="applications.length>0" class="table table-nowrap table-job-applications">
  <thead>
    <tr>
      <th class="th-left">
        <span class="sort" ng-click="sort('teacher.fullName')">Candidate</span>
      </th>
      <th></th>
      <th class="th-center">
        <span class="sort" ng-click="sort('-teacher.score')" simple-tooltip="Score for teacher (assigned by and only visible to admin)">Score</span>
      </th>
      <th class="th-center">
        <span class="sort" ng-click="sort(4)">Shortlisted</span>
      </th>
      <th class="th-center">
        <span class="sort" ng-click="sort(5)">Interviewed</span>
      </th>
      <th class="th-center">
        <span class="sort" ng-click="sort(6)">Offer made</span>
      </th>
      <th class="th-center">
        <span class="sort" ng-click="sort(7)">Accepted</span>
      </th>
      <th class="th-center">
        <span class="sort" ng-click="sort(8)">Rejected</span>
      </th>
    </tr>
  </thead>
  <tbody ng-repeat="a in applications">
    <tr ng-class="{ 0:'tr-odd', 1:'tr-even' }[$index%2]">
      <td ng-click="a.expanded=!a.expanded">
        <img ng-src="{{a.teacher.avatarUrl}}" style=" width: 24px; " />
        <a class="point">{{a.teacher.fullName}}</a>
        <span simple-tooltip="{{a.coverMessage}}" simple-tooltip-options="{ placement: 'right', class: 'tooltip-wide', heading: 'Cover Message' }" class="point">
          <i ng-show="a.coverMessage" class="icon-comment"></i>
        </span>
        <span simple-tooltip="Put forward {{a.datePutForward | date:'EEE dd MMM yyyy h:mma'}}" ng-show="a.daysSincePutForward < 3" class="new">new<span>
      </td>
      <td style="width: 20px;">
        <img ng-show="a.processing || a.teacher.processing" src="http://img.cdn.tl/loading1.gif" />
        <span ng-hide="a.processing || a.teacher.processing" ng-click="a.expanded=!a.expanded" class="point">
          <i ng-show="a.dirty" class="icon-flag"></i>
          <span ng-hide="a.dirty">
            <i ng-show="a.expanded" class="icon-chevron-up"></i>
            <i ng-hide="a.expanded" class="icon-chevron-down"></i>
          </span>
        </span>
      </td>
      <td class="td-center">
        <span class="badge" ng-class="a.teacher.badgeClass">{{a.teacher.score}}</span>
      </td>
      <td ng-repeat="status in (statuses | filter: { postPF: true })" ng-click="changeStatus(a, status)"
          class="td-center" ng-class="{ toggle: a.statusId!=status.id }; getStatusClass(a, status)">
        <span ng-show="!cumulative && a.statusId==status.id" simple-tooltip="{{a.statusDate | date:'EEE dd MMM yyyy h:mma'}}">
          <i class="icon-ok"></i>
        </span>
        <span ng-show="cumulative && a.cumulativeMap[$index+3]==1">
          <i class="icon-ok"></i>
        </span>
      </td>
    </tr>
    <tr ng-show="a.expanded">
      <td colspan="9">
        <div style="width:75%; float: left;">
          <div>
            <a ng-href="{{a.teacher.profileUrl}}" target="_blank" style="margin-right: 10px;">View profile</a>

            <span ng-repeat="s in scores" class="badge point" ng-click="processTeacher(a.teacher, $index)"
                  ng-class="{true:a.teacher.badgeClass, false:s.hoverClass}[$index==a.teacher.score];" style="margin-right: 3px;">{{$index}}</span>
            <span class="badge point" ng-class="a.badgeClass" style="margin: 0 15px;" simple-tooltip="Score for application (assigned by school)">{{a.score}}</span>
            <span simple-tooltip="{{a.schoolNote}}" simple-tooltip-options="{ placement: 'left', class: 'tooltip-wide', heading: 'School Note' }" class="point">
              <i ng-show="a.schoolNote" class="icon-comment"></i>
            </span>
          </div>
          <textarea style="margin: 5px; width: 100%; min-height: 70px;" ng-model="a.adminNote" ng-change="processWithThrottle(a, { adminNote: a.adminNote })"></textarea>
        </div>
        <img ng-src="{{a.teacher.avatarUrl}}" style=" width: 120px; float: right; " />
      <td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th class="th-left">Totals</th>
      <th></th>
      <th></th>
      <th ng-show="!cumulative" ng-repeat="x in totals.slice(3,8)" class="th-center">{{x}}</th>
      <th ng-show="cumulative" ng-repeat="x in cumulativeTotals.slice(3,8)" class="th-center">{{x}}</th>
    </tr>
  </tfoot>
</table>
<div ng-show="applications.length>0" class="summary">{{applications.length}} candidates</div>
