<h3>Vacancies</h3>

<div ng-show="jobs.length==0">
  <p>No vacancies found</p>
</div>


<div ng-show="jobs.length>0" class="summary">{{jobs.length}} vacancies</div>
<div class="table-container">
  <table ng-show="jobs.length>0" class="table table-striped table-nowrap table-jobs">
    <thead>
      <tr>
        <th ng-hide="fields.count==0" class="th-left float-immediate-child-spans">
          <span ng-show="fields.subject">
            <span class="sort" ng-click="sort('subject')">Subject</span>
          </span>
          <span ng-show="fields.position">
            <span ng-hide="fields.position.index==0">, </span>
            <span class="sort" ng-click="sort('position')">Position</span>
          </span>
          <span ng-show="fields.schoolName">
            <span ng-hide="fields.schoolName.index==0">, </span>
            <span class="sort" ng-click="sort('schoolName')">School</span>
          </span>
          <span ng-show="fields.country">
            <span ng-hide="fields.country.index==0">, </span>
            <span class="sort" ng-click="sort('country')">Country</span>
          </span>
        </th>
        <th class="th-center">
          <span class="th-type" ng-init="headerType='&lt;'"
                ng-click="useCompactHeaders=!useCompactHeaders; headerType={true:'&gt;', false:'&lt;'}[useCompactHeaders]">
            <span tooltip="Compact / Standard">{{headerType}}</span>
          </span>
          <span class="sort" ng-click="sort('-numApplied')">
            <span tooltip="{{header.tips.applied}}">{{header.applied}}</span>
          </span>
        </th>
        <th class="th-center">
          <span class="sort" ng-click="sort('-numPutForward')">
            <span tooltip="{{header.tips.putForward}}">{{header.putForward}}</span>
          </span>
        </th>
        <th class="th-center">
          <span class="sort" ng-click="sort('-numShortlisted')">
            <span tooltip="{{header.tips.shortlisted}}">{{header.shortlisted}}</span>
          </span>
        </th>
        <th class="th-center">
          <span class="sort" ng-click="sort('-numInterviewed')">
            <span tooltip="{{header.tips.interviewed}}">{{header.interviewed}}</span>
          </span>
        </th>
        <th class="th-center">
          <span class="sort" ng-click="sort('-numOffersMade')">
            <span tooltip="{{header.tips.offersMade}}">{{header.offersMade}}</span>
          </span>
        </th>
        <th class="th-center">
          <span class="sort" ng-click="sort('-isAccepted')">
            <span tooltip="{{header.tips.accepted}}">{{header.accepted}}</span>
          </span>
        </th>
        <th class="th-center">
          <span class="sort" ng-click="sort('-numRejected')">
            <span tooltip="{{header.tips.rejected}}">{{header.rejected}}</span>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="j in jobs" ng-class-odd="'tr-odd'" ng-class-even="'tr-even'" class="tr-narrow">
        <td ng-hide="fields.count==0" class="td-left">
          <a ng-href="#/jobs/{{j.id}}" class="float-immediate-child-spans">
            <span ng-show="fields.subject">{{j.subject}}</span>
            <span ng-show="fields.position">
              <span ng-hide="fields.position.index==0">, </span>
              <span ng-style="{true: { 'font-weight': 'bold' }}[fields.position.index % 2 == 1]">{{j.position}}</span>
            </span>
            <span ng-show="fields.schoolName">
              <span ng-hide="fields.schoolName.index==0">, </span>
              <span ng-style="{true: { 'font-weight': 'bold' }}[fields.schoolName.index % 2 == 1]">{{j.schoolName}}</span>
            </span>
            <span ng-show="fields.country">
              <span ng-hide="fields.country.index==0">, </span>
              <span ng-style="{true: { 'font-weight': 'bold' }}[fields.country.index % 2 == 1]">{{j.country}}</span>
            </span>
          </a>
        </td>
        <td class="td-center">{{j.numApplied}}</td>
        <td class="td-center">{{j.numPutForward}}</td>
        <td class="td-center">{{j.numShortlisted}}</td>
        <td class="td-center">{{j.numInterviewed}}</td>
        <td class="td-center">{{j.numOffersMade}}</td>
        <td class="td-center"><i class="icon-ok" ng-show="j.isAccepted"></i></td>
        <td class="td-center">{{j.numRejected}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th ng-hide="fields.count==0" class="th-left">Totals</th>
        <th class="th-center">{{totals.numApplied}}</th>
        <th class="th-center">{{totals.numPutForward}}</th>
        <th class="th-center">{{totals.numShortlisted}}</th>
        <th class="th-center">{{totals.numInterviewed}}</th>
        <th class="th-center">{{totals.numOffersMade}}</th>
        <th class="th-center">{{totals.isAccepted}}</th>
        <th class="th-center">{{totals.numRejected}}</th>
      </tr>
    </tfoot>
  </table>
</div>
<div ng-show="jobs.length>0" class="summary">{{jobs.length}} vacancies</div>
