body { padding: 60px 0 40px 0; }

/* top */
.sidebar-nav { padding: 19px 0; }

@media (max-width: 979px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}
 
/* left */
.left button { width: 180px; display: block; margin-bottom: 8px; }
.search { margin: 20px 0 10px 0; }
.search .input-append input { width: 139px; }
.left select { width: 180px; display: block; margin-bottom: 8px; }

/* main */
.table { width: 400px; }
.table td { padding: 3px; }
.summary { font-weight: bold; font-size: 11px; }
.alerts { position: fixed; width: 400px; top: 60px; right: 20px; }
