<h3>Candidates to review</h3>

<div class="alerts" ng-class="positions.getActive().val">
  <alert ng-repeat="alert in alerts.list" type="alert.type" close="closeAlert($index)">{{alert.message}}</alert>
</div>

<div ng-show="candidates.length==0">
  <p>All candidates have been reviewed!</p>
  <p>You can refresh the page to check for more.</p>
</div>

<table ng-show="candidates.length>0" class="table table-striped">
  <thead>
    <tr>
      <th>{{candidates.length}} Candidates</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="c in candidates" ng-class-odd="'tr-odd'" ng-class-even="'tr-even'">
      <td><a ng-href="{{c.url}}" target="_blank">{{c.fullname}}</a>
      </td>
      <td>
        <button class="btn btn-success btn-small" ng-click="approve($index)">Approve</button>
      </td>
      <td>
        <button class="btn btn-danger btn-small" ng-click="decline($index)">Decline</button>
      </td>
    </tr>
  </tbody>
</table>
<div ng-show="candidates.length>0" class="summary">{{candidates.length}} Candidates</div>
