<button class="btn btn-primary">Jobs overview</button>
<button class="btn btn-primary">Applications</button>
<div class="search controls">
  <div class="input-append">
    <input type="text" class="input-small" placeholder="Search"> <span class="add-on"><i class="icon-search"></i></span>
  </div>
</div>
<select>
  <option>Position</option>
</select>
<select>
  <option>Subject</option>
</select>
<select>
  <option>...</option>
</select>
<select>
  <option>...</option>
</select>
<select>
  <option>...</option>
</select>
<select>
  <option>...</option>
</select>
<select>
  <option>...</option>
</select>
<select>
  <option>...</option>
</select>
<select>
  <option>...</option>
</select>
<select>
  <option>...</option>
</select>
