body { padding: 60px 0 40px 0; }

/* top */
.sidebar-nav { padding: 19px 0; }

@media (max-width: 979px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}
 
/* left */
.left button { width: 180px; display: block; margin-bottom: 8px; }
.search { margin: 20px 0 10px 0; }
.search .input-append input { width: 139px; }
.filter span { font-size: 11px; font-weight: bold; display: block; }
.filter select { width: 180px; margin-bottom: 5px; }
.icon-remove { position: relative; color: gray; margin-left: -45px; cursor: pointer; z-index: 2; }

/* main */
.table { margin-bottom: 0; width: auto; }
.table th { padding: 3px 8px 3px 0; font-size: 14px; }
.table td { padding: 3px; }
.table-nowrap td, th { white-space: nowrap }
.th-type { color: silver; margin-left: -10px; cursor: pointer; }
.th-type:hover { color: LightGray; }
.tr-processing { background-color: gray !important; }
.summary { font-weight: bold; font-size: 11px; }
.alerts { position: fixed; width: 400px; top: 60px; right: 20px; }
.alert-severe-error { background-color: red; color: white; }
.table th .sort { cursor: pointer; }
.tooltip.in { opacity: 1; }
.new { color: red; }
.toggle { text-align: center !important; }
.toggle:hover { background-color: Gainsboro !important; cursor: pointer; }
.icon-pencil { margin: 0; padding: 0; }
.tr-odd { background-color: #f9f9f9; }
.table tbody+tbody { border-top: 0 }
.point { cursor: pointer; }
.success-hover:hover { background-color: #468847; }
.warning-hover:hover { background-color: #f89406; }
.info-hover:hover { background-color: #3a87ad; }
.important-hover:hover { background-color: #b94a48; }
.icon-chevron-up:hover, .icon-chevron-down:hover { background-color: Gainsboro }

/* dev */
.wip { background-color: yellow; }
