<h3>Applications to review</h3>

<div class="alerts" ng-class="positions.getActive().val">
  <alert ng-repeat="alert in alerts.list" type="alert.type" close="closeAlert($index)">{{alert.message}}</alert>
</div>

<div ng-show="applications.length==0">
  <p>All applications have been reviewed!</p>
  <p>You can refresh the page to check for more.</p>
</div>

<div ng-show="applications.length>0" class="summary">{{applications.length}} applications</div>
<table ng-show="applications.length>0" class="table table-striped table-nowrap">
  <thead>
    <tr>
      <th>Applicant</th>
      <th>Score</th>
      <th>Subject, Position, School and Country</th>
      <th>Date</th>
      <th></th>
      <th colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="a in applications" ng-class-odd="'tr-odd'" ng-class-even="'tr-even'">
      <td>
        <a ng-href="{{a.url}}" target="_blank">{{a.teacher.fullname}}</a>
      </td>
      <td>
        {{a.teacher.score}}
      </td>
      <td>
        {{a.job.subject}}, {{a.job.position}}, {{a.job.school}}, {{a.job.country}}
      </td>
      <td>
        {{a.date | date:'dd MMM yyyy h:mma'}}
      </td>
      <td style="width: 20px;">
        <img ng-show="a.processing" src="http://img.cdn.tl/loading1.gif" />
      </td>
      <td>
        <button class="btn btn-success btn-small" ng-click="process($index, 1)" ng-disabled="a.processing">Put forward</button>
      </td>
      <td>
        <button class="btn btn-danger btn-small" ng-click="process($index, -1)" ng-disabled="a.processing">Decline</button>
      </td>
    </tr>
  </tbody>
</table>
<div ng-show="applications.length>0" class="summary">{{applications.length}} applications</div>
